.item
  .item-header
    Chat with your Minecraft friends over Matrix!
  .item-body
    With Minetrix, you can do that.  And more, perhaps.

.item
  .item-header
    Chat with your Matrix friends over Minecraft!
  .item-body
    You've heard me right, we do that too.

.item
  .item-header
    Share photos with your Minecraft friends from Matrix!
  .item-body
    Found something inspiring to rebuild in Minecraft?  Just share it in the
    Matrix room, all players will be able to enjoy it.
