// Your (S)CSS goes here :-)

body {
  color: #000000;
  // Anyone else remember the FrontPage "Blends" theme?  Yeah, me neither.
  background: linear-gradient(to right, #9fcfff 0px, #ffffff 90px);
  font-family: sans-serif;
}