.header
  %h1= App.config.site.title
  = App.config.site.description
%nav.nav
  %ul
    - App.config.site.nav.each do |item|
      %li
        %a{href: item.controller ? App.config.site.base_path + item.link : item.link}= item.text
